/* Libraries import */
@import 'tailwindcss';
@import 'konsta/svelte/theme.css';

/* more info: https://konstaui.com/svelte/colors */
@theme {
  --color-brand-primary: #cd2b35;
  --color-brand-blue: #0091ff;
  --color-brand-green: #00ff00;
}

/* MapLibre Map */
@import 'maplibre-gl/dist/maplibre-gl.css';

/* My rules */
@import './assets/styles/typography.css';
